<div class="row">
  <div class="col-md-12">
    <div clas="card">
      <div class="
      card-header">
        <h2>Employee list</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <table>
              <thead>
                <tr>
                  <th> Sr No</th>
                  <th> Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                @for(item of employeeList;track $index){
                <tr>
                  <td>{{$index+1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.email}}</td>
                  <td>
                    <button class="btn" (click)="onEdit()">Edit</button>
                    <button class="btn">Delete</button>
                  </td>
                </tr>
                }

              </tbody>
            </table>
          </div>
          <div class="col-md-4">
            <div class="card-header">
              <h2>New Employee</h2>
              <div class="card-body">
                <div class="row">
                  <form [formGroup]="employeeForm" class="form">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" id="name" class="form-control" formControlName="name" />
                      <div class="text-danger">
                        @if(employeeForm.controls['name'].touched){
                        @if(employeeForm.controls['name'].errors?.['required']){
                        <span>
                          Name is required
                        </span>
                        }
                        @if(employeeForm.controls['name'].errors?.['minlength']){
                        <span>Name must be at least 3 characters long</span>
                        }
                        }
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" id="email" formControlName="email" class="form-control" />
                    </div>
                  </form>
                </div>
                <div class="row">
                  <button class="btn btn-primary" type="button" (click)="reset()">Reset</button>
                  <button class="btn btn-primary" (click)="onSave()" *ngIf="employeeForm.controls['empId'].value === '1'">Save</button>
                  <button class="btn btn-primary" type="button" (click)="onUpdate()" *ngIf="employeeForm.controls['empId'].value !== '1'">Update</button>

                </div>
              </div>
            </div>
          </div>
        </div>